.home-nav-container {
  background-color: #202020;
  width: 100%;
}

.home-jobs-logout-lap-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 10vh;
}
.home-jobs-logout-mob-container {
  display: none;
}

@media (max-width: 768px) {
  .home-jobs-logout-mob-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;
  }
  .home-jobs-logout-lap-container {
    display: none;
  }
}
.jobby-logo {
  height: 40px;
}
@media screen and (max-width: 768px) {
  .jobby-logo {
    height: 30px;
  }
}
.mobile-view-nav-icons {
  list-style-type: none;
  padding-left: 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-view-nav-icons {
    display: flex;
  }
}
.buttons {
  background-color: transparent;
  border: none;
  font-family: 'roboto';
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buttons {
    font-size: 30px;
  }
}
.link-btn {
  text-decoration: none;
}

.btn1 {
  margin-right: 10px;
}

.logout-btn {
  width: 80px;
  font-family: 'roboto';
  font-size: 10px;
  height: 25px;
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
